/* Fonts (from Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

/* Tailwind base layers */
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Custom Theme Colors */
@theme {
  --color-primary: #ffd643;
  --color-primary-dull: #e76718;
  --color-primary-light: #ffbd93;
  --color-textColor: #161616;
  --color-light: #f9f9f9;
  --color-borderColor: #c4c7d2;
}

/* Global Styles */
html,
body {
  @apply bg-light text-textColor;
  font-family: "Outfit", sans-serif;
}
